/**************************TAG SELECTORS**************************/
a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 0.75% 1%;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  color:#40514E;
  font-family: "Merriweather", serif;
  height: auto;
  margin: 0;
  text-align: center;
  width: auto;
}
/* 100% = 16px = 1em 
Font size is inherited from parent if it's a dynamic size- so it's already 2em before additional font size settings are applied in h1 
Instead use rem - this ignores parent settings*/
h1 {
  color:#66BFBF;
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  margin: 3% auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-block: 0;
  padding-bottom: 0.6%;

}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 0.6% auto 0 auto;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 6.25rem auto;
  width: 5%;

}

p {
  line-height: 2;
}
/**************************CLASS SELECTORS**************************/

/*******CLASS SELECTORS - IMAGES*******/
.b99 {
  height: auto;
  max-width: 100%
  width: auto;
}

.bottom-cloud {
  height: auto;
  left: 19%;
  position: absolute;
  width: auto;
}

.lefties {
  float:left;
  margin-right: 5%;
  padding-bottom: 5%;
}

.moss {
  height: auto;
  max-width: 100%
  width: auto;
}

.mountain {
  height:auto;
  max-width: 100%;
  width:auto;
}

.profile-pic {
  border-radius: 100%;
  margin: 1%;
  width: auto;
}

.python {
  height: auto;
  max-width: 100%;
  width: auto;
}

.righties {
  float:right;
  margin-left: 5%;
  padding-bottom: 5%;
}

.top-cloud {
  height: auto;
  position: absolute;
  right: 19%;
  top: 2.5rem;
  width: auto;
}


/*******CLASS SELECTORS - NOT IMAGES*******/
.bottom-container {
  background-color: #a6e3e9;
  display: inline-block;
  padding: 3.124rem 0 1rem;
  vertical-align: middle;
  width: 100%;
}

.btn {
  background: #4FA095;
  background-image: -webkit-linear-gradient(top, #4FA095, #2980b9);
  background-image: -moz-linear-gradient(top, #4FA095, #2980b9);
  background-image: -ms-linear-gradient(top, #4FA095, #2980b9);
  background-image: -o-linear-gradient(top, #4FA095, #2980b9);
  background-image: linear-gradient(to bottom, #4FA095, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2bc4ad;
  background-image: -webkit-linear-gradient(top, #2bc4ad, #3cb0fd);
  background-image: -moz-linear-gradient(top, #2bc4ad, #3cb0fd);
  background-image: -ms-linear-gradient(top, #2bc4ad, #3cb0fd);
  background-image: -o-linear-gradient(top, #2bc4ad, #3cb0fd);
  background-image: linear-gradient(to bottom, #2bc4ad, #3cb0fd);
  text-decoration: none;
}

/*.code-skill-description {
  clear:right
}*/

.contact-me {
  background-color: #beebe9;
  padding: 6.25rem 0 6.25rem;
}

.contact-message {
  margin: 2.5rem auto;
  width: 40%;
}

.copyright {
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 1rem 0 0;
}

/*.footer-link {
  position: relative;
}*/

.middle-container {
  background-color: #fffdf9;
  display: inline-block;
  margin-bottom: 0;
  padding: 100px 0 10px;
  position: relative;
  width: 100%;
  vertical-align: middle;
}

/*.pro {
  text-decoration: underline;
}*/


.quotes {
  font-style: italic;
}

.skill-row {
  margin: 50px auto 200px auto;
  padding-top: 50px;
  text-align: left;
  width: 50%;
}

.top-container {
  background-color: #a6e3e9;
  position: relative;
  padding-top: 50px;
}

/**************************ID SELECTORS**************************/
#well-hi-there {
  width: 65%;
  margin: 50px auto 50px auto;
}
